# Iterative statements

If we want to execute a group of statements multiple times then we should go for Iterative statements.
1.For loop
2.while loop

### 1) For loop

If we want to execute some action for every elements present in some sequence(collection of string) then we should go for for loop.

syntax:
for i in sequence:
    body
where sequence can be string or any collection.
body will executed on each element present in the string or collection.

In [4]:
s="Virat Kohli"
for i in s:
    print(i, end="")

Virat Kohli

In [8]:
list1=[23,"soumith",6,77,55,24]
for x in list1:
    print(x,end=",")

23,soumith,6,77,55,24,

In [13]:
#To print character present in string index wise:
name=input()
i=0
for x in name:
    print("Character present at",i,"index is",x)
    i=i+1

 soumith

Character present at 0 index is s
Character present at 1 index is o
Character present at 2 index is u
Character present at 3 index is m
Character present at 4 index is i
Character present at 5 index is t
Character present at 6 index is h

In [15]:
print("Hello "*10)

Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello

In [19]:
a=range(10)
for i in a:
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [23]:
a=range(1,11)
for i in a:
    print(2*i)

2
4
6
8
10
12
14
16
18
20

In [25]:
a=range(10)
for i in a:
    print(10-i)

10
9
8
7
6
5
4
3
2
1

In [28]:
#print odd number 1 to 20
a=range(1,21)
for num in a:
    if num %2!=0:
        print(num)

1
3
5
7
9
11
13
15
17
19

In [31]:
#take number as input and create a table
num=int(input("enter a num:"))
for i in range(1,11):
    print(num*i)

enter a num: 5

5
10
15
20
25
30
35
40
45
50

# 2) While loop

If we want to execute a group of statements iteratively until some condition false, then go for while loop.
syntax:
    while condition:
        body

In [34]:
#To print from 1 to 10 using for loop
x=1
while x<=10:
    print(x)
    x+=1

1
2
3
4
5
6
7
8
9
10

In [39]:
#Display the sum of first n number:
n=int(input("Enter a num:"))
sum=0
i=1
while i<=n:
    sum=sum+i
    i+=1
print("the sum of first",n,"number is",sum)

Enter a num: 5

the sum of first 5 number is 15

# Nested loop

loop within the loop

In [43]:
for i in range(4):
    for j in range(4):
        print("i=",i,"j=",j)

i= 0 j= 0
i= 0 j= 1
i= 0 j= 2
i= 0 j= 3
i= 1 j= 0
i= 1 j= 1
i= 1 j= 2
i= 1 j= 3
i= 2 j= 0
i= 2 j= 1
i= 2 j= 2
i= 2 j= 3
i= 3 j= 0
i= 3 j= 1
i= 3 j= 2
i= 3 j= 3

# Transfer statements

break
we can use break statement inside the loop to break the loop execution based on some condition.

In [46]:
for i in range(10):
    if i==7:
        print("Processing is enough,plz break")
        break
    print(i)

0
1
2
3
4
5
6
Processing is enough,plz break

In [50]:
cart=[100,200,300,400,500,600,700,800,900]
for item in cart:
    if item>500:
        print("you get 20% discount on this order")
        break
    print(item)

100
200
300
400
500
you get 20% discount on this order

# Continue

we can use continue statement to skip current iteration and continue to next

In [52]:
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [53]:
cart=[200,330,400,500,600,900,1000]
for item in cart:
    if item>=500:
        print("We cannot process this item",item)
        continue
    print(item)

200
330
400
We cannot process this item 500
We cannot process this item 600
We cannot process this item 900
We cannot process this item 1000

# Pass

pass is a keyword in a python .
In python if block is required which wont do anything then we can define the empty block with pass keyword.
pass it is an empty statement
it is a null statement
it wont do anything

In [56]:
for i in range(100):
    if i%9==0:
        print(i)
    else:pass

0
9
18
27
36
45
54
63
72
81
90
99